.list-column {
	@include padding(55px);
	@include border-radius(10px);
	color: map-get($map: $colors, $key: white);
	h2 {
		color: map-get($map: $colors, $key: white);
	}
	ul li {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.list-text {
	margin-bottom: 4rem;
}
