.list-column {

	@include padding(55px);
	@include border-radius(10px);

	ul {
		margin-bottom: 0;

		li {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&:nth-child(n + 3) {
		margin-top: 36px;
	}
}

.list-text {
	margin-bottom: 4rem;
}
