.service-icon {
	width: 110px;
	height: 110px;
	border: 2px solid map-get( $map: $colors, $key: bwhale );
	margin-bottom: 36px;
	display: grid;

	@include border-radius(50%);

	img {
		margin: auto;
		max-width: 50px;
		max-height: 50px;
	}
}

.service-desc {

	h3 {
		margin-bottom: 26px;

		a,
		a:visited {
			border: 0;
		}
	}
}

.services-area.three-cols {

	.col {

		&:nth-child(n + 4) {
			margin-top: 60px;
		}
	}
}
