.hero-container {
	padding: 19rem 0 10rem 0;
	h1 {
		margin-bottom: 3.2rem;
	}
}

.hero-text {
	max-width: 675px;

	p {
		font-size: 1.8rem;
		margin: 0 0 3rem 0;
		line-height: 1.56;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.hero-content-inner {
	max-width: 575px;
	margin-right: 1.5rem;
	float: right;
}
.hero-single {
	padding: 17rem 0 10rem 0;
}
