/* -------------------------------------------------
>> Project Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

.gfields {
	margin: 0;
}

.gf_clear {
	clear: both;
}

.ginput_left,
.name_first {
	float: left;
	width: 48%;
}

.ginput_right,
.name_last {
	float: right;
	width: 48%;
}

.gfield {
	box-sizing: border-box;
	position: relative;
}

.gfield_time_hour,
.gfield_time_minute,
.gfield_time_ampm {
	width: calc( 33.33% - 3px );
	display: inline-block;
}

.gfield_time_minute {
	margin: 0 10px;
	width: calc( 33.33% - 23px );
}

.below.hour_minute_colon {
	display: none;
}

.gfield_post_tags_hint {
	margin-top: -18px;

	@include font-size(1.4);
}

.gfield.half-input-field {
	width: 48%;
	margin-right: calc( 4% - 5px );
	display: inline-block;

	&.last {
		margin-right: 0;
	}
}

.gfield_list_group {
	margin-bottom: 2rem;
}

button {

	&.add_list_item,
	&.delete_list_item {
		margin: 0 10px 1rem 0;
		padding: 4px 11px;
		font-size: 90%;
		height: 37px;
		position: relative;
		top: -5px;
	}

	&.delete_list_item {
		background-color: map-get( $map: $variable_colors, $key: reset-button-bgcolor );
		color: map-get( $map: $variable_colors, $key: reset-button-color );
		border: 2px solid transparent;

		&:hover {
			background-color: transparent;
			border: 2px solid map-get( $map: $variable_colors, $key: reset-button-border-color-hover );
		}
	}
}

.gform_fileupload_rules {
	font-size: 90%;
	color: map-get( $map: $variable_colors, $key: fileupload_rule_color );
	margin-bottom: 1rem;
	display: inline-block;
	position: relative;
	top: -14px;
}

/* =============================================
= Style For Date Picker for gravity form  =
============================================= */

#ui-datepicker-div {
	background-color: map-get( $map: $variable_colors, $key: datepicker-bg-color );
	border: 2px solid map-get( $map: $variable_colors, $key: datepicker-border-color );
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	background-color: map-get( $map: $variable_colors, $key: datepicker-bg-color );
	padding: 1rem 1.2rem;
}

.ui-datepicker-title select {
	width: 49%;
	margin-bottom: 0;
	margin-right: 2%;
	height: 46px;
	padding: 0 35px 0 18px;
	background-color: map-get( $map: $variable_colors, $key: datepicker-select-bgcolor );
}

a.ui-datepicker-prev.ui-corner-all,
a.ui-datepicker-next.ui-corner-all {
	position: relative;
}

a.ui-datepicker-next.ui-corner-all {
	float: right;
}

.ui-datepicker-header {

	a,
	a:visited {

		@include font-size(1.6);

		cursor: pointer;
		margin-bottom: 1rem;
		display: inline-block;
	}
}

select.ui-datepicker-year {
	margin-right: 0;
}

#ui-datepicker-div table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1rem;

	@include font-size(1.6);
}

.ui-datepicker-calendar a {

	@include font-size(1.6);

	color: map-get( $map: $variable_colors, $key: datepicker-date-color );
}

.ginput_container_date {
	position: relative;

	img.ui-datepicker-trigger {
		position: absolute;
		right: 10px;
		top: 15px;
		bottom: 0;
	}
}

.gfield_radio {

	.gchoice {
		display: inline-block;
	}
}

table.ui-datepicker-calendar {
	max-width: 410px;
	background-color: map-get( $map: $variable_colors, $key: datepicker-calendar );
}

/* =====  End of Date Picker Style for Gravity Form ====== */

.validation_error {
	background-color: map-get( $map: $variable_colors, $key: valiation-error-bgcolor );

	@include font-size(1.4);

	color: map-get( $map: $variable_colors, $key: valiation-error-color );
	text-align: center;
	padding: 2px 10px 6px;
	margin-bottom: 2rem;
	text-align: center;
}

.validation_message {

	@include font-size(1.4);

	text-align: center;
	display: inline-block;
	color: map-get( $map: $variable_colors, $key: valiation-message-color );
	position: absolute;
	bottom: 0;
}

.gfield_error {

	input {
		border-color: map-get( $map: $variable_colors, $key: error-field-border-color );
	}
}

.gform_confirmation_message {
	background-color: map-get( $map: $variable_colors, $key: confirmation-message-bgcolor );
	padding: 20px;
	text-align: center;
	color: map-get( $map: $variable_colors, $key: confirmation-message-color );
	border: 1px solid map-get( $map: $variable_colors, $key: confirmation-message-border-color );
}

.gform_validation_errors {
	background-color: map-get( $map: $variable_colors, $key: valiation-error-bg-color );
	margin: 1rem 0 3rem;
	padding: 7px 14px;
	font-weight: bold;
	font-size: 105%;

	h2 {
		color: map-get( $map: $variable_colors, $key: valiation-message-color );
		margin-bottom: 0;

		@include font-size(2.4);

		font-size: 105%;
	}
}

.gfield_required_text {
	color: map-get( $map: $variable_colors, $key: required-text-color );
	position: relative;
	margin-left: 5px;
}

/**
 *
 * Style for hidden field in gravity form
 *
 */

.gfield_visibility_hidden {
	display: none !important;
}

/**
 *
 * Spinner
 *
 */
img.gform_ajax_spinner {
	position: absolute;
	bottom: 0;
	left: 0;
}
