/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

i,
em,
var,
address,
dfn {
	font-style: italic;
}

code,
pre,
kbd,
tt,
var,
samp {
	font-family: monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted map-get( $map: $variable_colors, $key: abbr-border-color );
	text-decoration: none;
	cursor: help;
}

abbr[title] {
	text-decoration: none;
}

address {
	margin: 0 0 3rem;
}

mark {
	background-color: map-get( $map: $variable_colors, $key: mark-bgcolor );
	color: map-get( $map: $variable_colors, $key: mark-color );
	padding: 3px 7px;
}

small {
	font-size: 80%;
}

big {
	font-size: 125%;
}

s,
strike,
del {
	text-decoration: line-through;
}

b,
strong {
	font-weight: bold;
	color: map-get( $map: $variable_colors, $key: strong-color );
}

u {
	border-bottom: 1px solid map-get( $map: $variable_colors, $key: underline-border-color );
	text-decoration: none;
}

del {
	color: map-get( $map: $variable_colors, $key: delete-color );
}

ins {
	color: map-get( $map: $variable_colors, $key: insert-color );
	border-bottom: 1px solid map-get( $map: $variable_colors, $key: insert-border-color );
	text-decoration: none;
}

sub,
sup {
	font-size: 70%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.4rem;
}

sup {
	top: -0.8rem;
}

code,
pre,
kbd,
tt {
	max-width: 100%;
	overflow: auto;
	margin: 0 0 3rem;
}

code,
kbd,
tt {
	color: map-get( $map: $variable_colors, $key: code-color );
	background-color: map-get( $map: $variable_colors, $key: code-bgcolor );
	padding: 3px 7px;
}

pre {
	color: map-get( $map: $variable_colors, $key: pre-color );
	background-color: map-get( $map: $variable_colors, $key: pre-bgcolor );
	padding: 2rem 2.5rem;
	overflow-x: scroll;
}

hr {
	background-color: map-get( $map: $variable_colors, $key: hr-bgcolor );
	border: 0;
	height: 1px;
	margin-bottom: 3rem;
}

audio,
video {
	margin-bottom: 3rem;
}
